* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: 0;
  font-size: 1em;
}

/*****************************
USER INTERFACE
*****************************/

main {
  width: 100vw;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(img-2.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
}

:root {
  --main-font: Arial, Helvetica, sans-serif;
  --main-color: white;
}

/*
GLOBAL CLASSES
*/

.display {
  display: block;
}

.display-flex {
  display: flex;
}

.no-display {
  display: none;
}

.show {
  visibility: visible;
}

.no-show {
  visibility: hidden;
}
/*******************
UPPER SECTION
********************/

.display-one {
  padding: 12px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  width: 100px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.link-button {
  border: none;
  background: none;
  outline: none;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1.1rem;
  cursor: pointer;
  padding-left: 10px;
}
.search-icon {
  width: 1.25rem;
}

/***************
LINK ITEMS
****************/
.box-one {
  min-width: 13.7em;
  min-height: 8.125em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(5, 5, 5);
  color: var(--main-color);
  font-family: var(--main-font);
  padding: 20px;
  position: absolute;
  top: 6.5vh;
  opacity: 0.85;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.link {
  display: flex;
  opacity: 0.8;
  margin: 5px;
}

.the-link {
  color: var(--main-color);
  text-decoration: none;
}

.link:hover {
  opacity: 1;
  color: var(--main-color);
}

.link-item {
  align-self: center;
  font-size: 1.07rem;
  margin-left: 10px;
}

.add-new-item {
  display: flex;
  opacity: 0.8;
  margin: 10px;
}
.add-new-item:hover {
  opacity: 1;
}
.new-item-icon {
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
}

.new-item {
  margin-left: 10px;
  opacity: 0.7;
}

/*****************
ADD NEW LINK ITEM
*****************/
.item-info {
  /* visibility: hidden; Display With Javascrip */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15.7em;
  height: 15.7em;
  background-color: rgba(5, 5, 5, 0.829); /**********REFACTOR***************/
  color: var(--main-color);
  font-family: var(--main-font);
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 7vh;
  opacity: 0.85;
  border-radius: 3px;
}

.back-button {
  cursor: pointer;
  padding: 0.1em;
}

.back-button:hover {
  background: rgba(128, 128, 128, 0.719);
  border-radius: 50%;
}

.link-name,
.link-url {
  font-size: 0.95rem;
}
.link-name-input,
.url-input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.05rem;
  padding: 3px;
  position: relative;
  bottom: 6%;
}

.submit-link {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 20px;
  background: rgb(48, 48, 48);
  padding: 10px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 1rem;
}

.submit-link:hover {
  background: rgb(85, 85, 85);
  cursor: pointer;
}

/****************
WEATHER SECTION
*****************/
.desktop-weather {
  color: var(--main-color);
  font-family: var(--main-font);
  width: 6.25em;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.cloud-icon {
  max-width: 40%;
  margin-right: 7px;
}
.weather-info {
  font-size: 1.7rem;
  font-weight: 200;
  text-align: center;
  align-self: flex-end;
}

.degree {
  font-size: 1.5rem;
}

.location {
  font-size: 0.9rem;
  text-align: center;
}

/*********************
DISPLAY TIME SECTION
**********************/

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 70vh;
}

.display-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-time:hover .more-button {
  visibility: visible;
}

.time,
.time-percentage {
  margin-left: 3%;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 10rem;
}

.percentage {
  color: var(--main-color);
  font-size: 2.8rem;
  padding: 1px;
}

.time-in-percent {
  display: flex;
  position: relative;
  color: var(--main-color);
  font-family: var(--main-font);
}

.show-percentage {
  position: absolute;
  width: 15.5em;
  height: 4.3em;
  padding: 10px;
  top: 2.2em;
  left: 2em;
  text-align: left;
  background: rgba(0, 0, 0, 0.733);
  border-radius: 5px;
  cursor: pointer;
}

.percentage-message {
  font-size: 1.03rem;
  line-height: 1.8em;
}

.percentage-caption {
  font-size: 0.8rem;
}

.percentage-menu {
  padding: 0.1em;
}

.percentage-menu:hover {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 1px;
}

.more-button {
  visibility: hidden;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  padding: 0.25em;
  cursor: pointer;
}

.more-button:hover {
  background: rgba(168, 164, 164, 0.336);
  border-radius: 50%;
}

.greeting-before,
.greeting-after {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 3.4rem;
}

.user-name {
  border: none;
  background: none;
  outline: none;
  text-align: center;
  width: 3.5em;
  border-bottom: 1px solid white;
  color: var(--main-color);
  font-size: 3rem;
}

.user-name::placeholder {
  font-family: var(--main-font);
  font-size: 3rem;
}

/*******************
DISPLAY FOCUS SECTION
********************/
.focus,
.after-focus-added {
  position: relative;
  top: 10em;
}

.focus-question {
  color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  font-size: 2.5rem;
}

.focus-input {
  text-align: center;
}

.user-input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 35rem;
  background: none;
  padding: 5px;
  color: var(--main-color);
  font-size: 2.3rem;
  text-align: center;
}

.after-focus-added {
  display: none; /* Switch To Display Flex In JavaScript */
  justify-content: center;
  align-items: center;
}

.after-focus-added:hover .complete-task-icon {
  visibility: visible;
}

.after-focus-added:hover .current-icon {
  visibility: visible;
  border-radius: 50%;
}
.current-icon:hover {
  background: rgba(128, 128, 128, 0.664);
}

.hidden-icon {
  display: none;
}

.complete-task-icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 1em;
  cursor: pointer;
}

.cancel-task,
.add-new-task {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
  cursor: pointer;
  margin-top: 2px;
  padding: 0.2em;
  visibility: hidden;
}

/*********************
BOTTOM SECTION
**********************/

.display-two {
  color: var(--main-color);
  font-family: var(--main-font);
}

.setting {
  width: 20vw;
  display: flex;
  position: relative;
  top: 1.5em;
  left: 1em;
  font-family: var(--main-font);
}

.settings {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  font-family: var(--main-font);
  opacity: 0.7;
  margin-right: 1em;
}

.settings:hover {
  opacity: 1;
}
.settings-icon {
  width: 20px;
}

.pic-description {
  text-align: center;
  font-size: 0.85rem;
}

.pic-description-2 {
  font-size: 0.7rem;
  text-align: center;
}

.the-quote {
  text-align: center;
  font-size: 1.05rem;
}

.desktop-todo {
  position: relative;
  float: right;
  right: 1.5em;
  bottom: 1em;
}

.todo-section {
  border: none;
  background: none;
  outline: none;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 1.05rem;
  cursor: pointer;
}

.todo-container {
  position: absolute;
  bottom: 2em;
  right: 1em;
  width: 20em;
  min-height: 15em;
  max-height: 60em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*Change to none when displaying todo tasks*/
  background: rgba(5, 5, 5, 0.829);
}

.todo-today {
  font-size: 1rem;
  margin: 0.8em;
}

.no-todos {
  align-self: center;
  display: flex; /*Change Display To none In JS when new item has been added*/
  flex-direction: column;
}

.no-todos-today {
  text-align: center;
  font-size: 1rem;
  margin: 0.5em;
}

.add-todo-task {
  outline: none;
  border: none;
  align-self: center;
  width: 7em;
  padding: 0.6em;
  border-radius: 1rem;
  color: var(--main-color);
  background: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.task-input {
  display: block; /*Change Display To none In JS when new item has been added* else block*/
}

.add-todo-task:hover {
  background: rgba(128, 128, 128, 0.705);
}

.new-todo-task {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.8em;
  font-size: 1.05rem;
  color: var(--main-color);
}

.todo-tasks {
  display: flex; /*Switch to display flex*/
  align-items: center;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.todo-task {
  text-align: left;
}

.finish-task,
.finished-task,
.remove-task {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  cursor: pointer;
}

.finished-task {
  display: none;
}

.remove-task {
  padding: 0.2em;
  margin-left: 0.5em;
  visibility: hidden;
}

.remove-task:hover {
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.74);
}

.todo-tasks:hover .remove-task {
  visibility: visible;
}

/***********************************************************
**** RESPONSIVE DEISGN
************************************************************/

/**********************************
Large Screens
***********************************/

@media screen and (max-width: 1023px) {
  /*********************
  DISPLAY TIME SECTION
  **********************/

  .time,
  .time-percentage {
    font-size: 9rem;
  }

  .show-percentage {
    width: 22vw;
    height: 6.8vh;
    top: -5em;
    left: 2em;
  }

  .more-button {
    visibility: visible;
  }

  /*******************
  DISPLAY FOCUS SECTION
********************/
  .focus,
  .after-focus-added {
    position: relative;
    top: 10em;
  }

  .after-focus-added {
    justify-content: center;
    align-items: center;
  }

  .complete-task-icon {
    visibility: visible;
  }

  .cancel-task,
  .add-new-task {
    visibility: visible;
    border-radius: 50%;
  }

  /******************
  BOTTOM PART
  *******************/

  .settings {
    opacity: 1;
  }

  .pic-description {
    font-size: 1.5vw;
  }

  .pic-description-2 {
    font-size: 1.2vw;
  }

  .the-quote {
    font-size: 1.6vw;
  }

  .todo-section {
    font-size: 2vw;
  }
}

/********************
TABLETS
*********************/

@media screen and (max-width: 767px) {
  /*********************
DISPLAY TIME SECTION
**********************/

  main {
    height: 105vh;
  }

  .content {
    height: 105vh;
  }

  .time-container {
    height: 70vh;
  }

  .time,
  .time-percentage {
    margin-left: 3%;
    font-size: 7rem;
  }

  .show-percentage {
    outline: none;
    width: 30vw;
    height: 4.5em;
    padding: 10px;
    top: -6.5em;
    left: -1em;
  }

  .percentage-message {
    font-size: 0.9rem;
    line-height: 1.8em;
  }

  .percentage-caption {
    font-size: 0.7rem;
  }

  .percentage-menu {
    padding: 0.1em;
  }

  .percentage-menu:hover {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 1px;
    outline: none;
  }

  .greeting-before,
  .greeting-after {
    font-size: 2.4rem;
  }

  .user-name {
    width: 3.5em;
    font-size: 2rem;
  }

  .user-name::placeholder {
    font-size: 2rem;
  }

  /*******************
DISPLAY FOCUS SECTION
********************/
  .focus,
  .after-focus-added {
    position: relative;
    top: 5em;
  }

  .focus-question {
    font-size: 1.8rem;
  }

  .user-input {
    width: 24rem;
    padding: 8px;
    font-size: 1.8rem;
  }

  .after-focus-added {
    justify-content: center;
    align-items: center;
  }

  .complete-task-icon {
    width: 1.3em;
    height: 1.3em;
    margin-right: 1em;
    cursor: pointer;
    visibility: visible;
  }

  .cancel-task,
  .add-new-task {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    cursor: pointer;
    margin-top: 2px;
    padding: 0.2em;
    visibility: visible;
  }
}

@media screen and (max-width: 576px) {
  /*********************
  LINK SECTION
  **********************/

  .box-one {
    background-color: rgb(5, 5, 5); /**********REFACTOR***************/
    opacity: 1;
    width: 12em;
  }

  .item-info {
    background-color: rgb(5, 5, 5); /**********REFACTOR***************/
    opacity: 1;
  }

  /*********************
DISPLAY TIME SECTION
**********************/

  .time-container {
    /* background: crimson; */
    height: 70vh;
  }

  .time,
  .time-percentage {
    margin-left: 3%;
    font-size: 6rem;
  }

  .show-percentage {
    outline: none;
    width: 34vw;
    height: 4em;
    padding: 10px;
    top: -6.4em;
    left: -3em;
  }

  .percentage-message {
    font-size: 0.7rem;
    line-height: 1.8em;
  }

  .percentage-caption {
    font-size: 0.5rem;
  }

  .percentage-menu {
    padding: 0.1em;
  }

  .percentage-menu:hover {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 1px;
    outline: none;
  }

  .greeting-before,
  .greeting-after {
    font-size: 2rem;
  }

  .user-name {
    width: 3.5em;
    font-size: 1.9rem;
  }

  .user-name::placeholder {
    font-size: 1.8rem;
  }

  /*******************
DISPLAY FOCUS SECTION
********************/
  .focus,
  .after-focus-added {
    position: relative;
    top: 5em;
  }

  .focus-question {
    font-size: 1.5rem;
  }

  .user-input {
    width: 20rem;

    font-size: 1.45rem;
  }

  .complete-task-icon {
    margin-right: 0.7em;
  }

  .cancel-task,
  .add-new-task {
    margin-left: 0.7em;
  }

  /******************
  BOTTOM PART
  *******************/

  .setting {
    width: 23vw;
    top: 2.5em;
    left: 0.8em;
  }

  .settings {
    margin-right: 1em;
    opacity: 1;
  }

  .pic-description {
    font-size: 0.5rem;
  }

  .pic-description-2 {
    font-size: 0.43rem;
  }

  .quote {
    margin-left: 35%;
    margin-right: 32%;
  }
  .the-quote {
    text-align: center;
    font-size: 0.6rem;
  }

  .todo-section {
    font-size: 1.05rem;
  }

  .todo-container {
    right: 1em;
    width: 15em;
    background: rgb(5, 5, 5);
  }
}

@media screen and (max-width: 360px) {
  /*********************
DISPLAY TIME SECTION
**********************/

  .time,
  .time-percentage {
    font-size: 6rem;
  }

  .greeting-before,
  .greeting-after {
    font-size: 1.8rem;
  }

  .user-name {
    font-size: 1.7rem;
  }

  .user-name::placeholder {
    font-size: 1.6rem;
  }

  /*******************
DISPLAY FOCUS SECTION
********************/

  .focus-question {
    font-size: 1.35rem;
  }

  .user-input {
    width: 18rem;

    font-size: 1.34rem;
  }

  /******************
  BOTTOM PART
  *******************/

  .setting {
    width: 23vw;
    top: 3em;
  }

  .pic-description {
    font-size: 0.42rem;
  }

  .pic-description-2 {
    font-size: 0.4rem;
  }

  .quote {
    margin-left: 33%;
    margin-right: 30%;
  }
}

@media screen and (max-width: 320px) {
  /*********************
  DISPLAY TIME SECTION
  **********************/

  .time,
  .time-percentage {
    font-size: 25vw;
  }

  .show-percentage {
    width: 32vw;
    height: 3.5em;
    padding: 8px;
    top: -5em;
    left: -3em;
  }

  .greeting-before,
  .greeting-after {
    font-size: 1.55rem;
  }

  .user-name {
    font-size: 1.5rem;
  }

  .user-name::placeholder {
    font-size: 1.5rem;
  }

  /*******************
  DISPLAY FOCUS SECTION
  ********************/

  .focus-question {
    font-size: 1.15rem;
  }

  .user-input {
    width: 15rem;
    font-size: 1.2rem;
  }

  /******************
  BOTTOM PART
  *******************/

  .setting {
    width: 23vw;
    top: 3em;
  }

  .pic-description {
    font-size: 0.42rem;
  }

  .pic-description-2 {
    font-size: 0.4rem;
  }

  .quote {
    margin-left: 33%;
    margin-right: 30%;
  }
}
